.hero {
    position: relative;
    margin-bottom: 80px;
    padding-top: 20px;
}

.swiper-slide .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    z-index: 10;
}

.swiper-slide .content h4 {
    text-transform: uppercase;
    font-size: clamp(12px, 2vw, 18px);
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.4vw;
}

.swiper-slide .content h3 {
    font-size: clamp(24px, 5vw, 60px);
    text-transform: capitalize;
    margin-bottom: clamp(15px, 3vw, 30px);
    color: var(--main_color);
    font-weight: bolder;
    line-height: 1.1;
}

.swiper-slide .content p {
    font-size: clamp(14px, 2vw, 24px);
    margin-top: clamp(10px, 1.5vw, 20px);
    margin-bottom: clamp(15px, 2vw, 30px);
}

.swiper-slide .content .btn {
    background: transparent;
    color: var(--color_heading);
    padding: 0;
    font-weight: 600;
    font-size: clamp(14px, 2vw, 20px);
}

.swiper-slide .content .btn:hover {
    color: var(--main_color);
    scale: 1;
}

.swiper-pagination-bullet-active {
    background: var(--main_color) !important;
}