@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-main: #0090f0;
  --color-p: #7b7b7b;
  --color-bg: #F3F3F3;
  --color-heading: #253237;
  --color-border-custom: #d6d6d6d5;
  --font-inter: "Inter", sans-serif;
  --font-dmsans: "DM Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-white font-inter text-p pt-[140px] md:pt-[150px];
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply text-heading font-dmsans;
  }
}

@layer utilities {
  .btn {
    @apply px-[18px] py-[10px] capitalize rounded-[30px] cursor-pointer bg-main text-white flex gap-[10px] items-center transition-all duration-300 w-max hover:scale-110;
  }

  .skeltion {
    @apply bg-[#e2e5e7];
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1s ease infinite;
  }

  .swiper-pagination-bullet-active {
    background: var(--color-main) !important;
  }

  .toast-wrapper {
    @apply flex items-center gap-[20px] min-w-[300px] max-w-[300px];
  }

  .toast-img {
    @apply w-auto h-[50px] object-cover;
  }

  .toast-content {
    @apply flex flex-col gap-[5px] text-[14px];
  }

  .toast-wrapper strong {
    @apply line-clamp-1;
  }

  .toast-content .btn {
    @apply mt-[5px] text-[13px];
  }
}

@keyframes shine {
  0% { background-position: left -40px top 0; }
  100% { background-position: right -60px top 0; }
}
